---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { CldImage } from 'astro-cloudinary';

const allImages = await getCollection('photography');
---

<Layout title="Mofjeld Visuals">
	<div class="container mx-auto px-4 max-w-screen-xl">
		<!-- THE MASONRY GRID CONTAINER -->
		<div 
            class="pswp-gallery columns-1 md:columns-2 lg:columns-3 gap-4 space-y-4" 
            id="gallery--main"
        >
			{allImages.map((image) => {
				return (
					// The `break-inside-avoid` class is key to preventing images from splitting
					<a
						href={image.data.secure_url}
						data-pswp-width={image.data.width}
						data-pswp-height={image.data.height}
						target="_blank"
						rel="noreferrer"
						class="group block break-inside-avoid"
					>
						<CldImage 
							src={image.data.public_id}
							width={image.data.width}
							height={image.data.height}
							alt="A portfolio image"
							class="w-full h-auto object-cover rounded-md shadow-lg transform transition-transform duration-300 group-hover:scale-105"
						/>
					</a>
				)
			})}
		</div>

        {allImages.length === 0 && (
            <div class="text-center text-gray-500 py-20">
                <h2 class="text-2xl font-bold mb-2">No Images Found in Cloudinary</h2>
                <p>Please make sure your images are uploaded to the correct Cloudinary folder and the folder name is correctly specified in <code>src/content/config.ts</code>.</p>
            </div>
        )}
	</div>
</Layout>


<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({
        // The container element for the gallery
        gallery: '#gallery--main',
        // The selector for the gallery items
        children: 'a',
        // PhotoSwipe options
        pswpModule: () => import('photoswipe'),
    });

    // Initialize the lightbox
    lightbox.init();
</script>